#nav-wrapper {
    background-color: #0ae2e2;
}

.logo-warpper {
    color: #0ae2e2;
}

.nav-link {
    color: white !important;
}

.banner-wrapper {
    background-color: #21c5c5;
    min-height: 25vh;
}

.carousel-heading {
    align-items: center;
    padding: 100px 50px;
}

.carousel-heading h2 {
    font-size: 60px;
    color: #fff;
}

.carousel-heading p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 35px;
}

.banner-btn {
    background-color: transparent;
    border: 3px solid #fff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.btn-card {
    background-color: #0ae2e2;
    padding: 10px;
    color: white;
}

.footer-waepper li a {
    text-decoration: none;
    color: #fff;
}

#footer {
    background-color: #0ae2e2;
}

.footer-text h4 {
    color: white;
}

#copy-right {
    background-color: #178383;
    color: #fff;
    min-height: 45px;
}

.fa-brands {
    color: white;
}

/* mobile nav */
.overlay {
    z-index: 99999;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0ae2e2;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* owl carousel products */

.product-btn {
    background-color: #0ae2e2;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    display: inline-block;

}

#feature {
    background-color: #0ae2e2;
    color: #ffff;
}

.featured-product {
    background-color: #f1f1f1;
    border-bottom: 7px solid #0ae2e2;
}

@media screen and (max-height: 960px) {
    .log {
        padding-top: 10px;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;

    }

}

@media (max-width: 575.98px) {
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;
        list-style: none;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        bottom: 0;
        z-index: .1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-caption-content h2 {
        font-size: 15px;
        color: #fff;
    }

    .carousel-caption-content p {
        font-size: 10px;
        color: #fff;
        margin-bottom: 10px;
    }

    .banner-btn {
        background-color: transparent;
        border: 3px solid #fff;
        color: rgb(255, 255, 255);
        padding: 7px 14px;
        text-decoration: none;
        font-size: 12px;
    }

    .carousel-heading h2 {
        font-size: 20px;
        color: #fff;
    }

    .carousel-heading p {
        font-size: 15px;
        color: #fff;
        margin-bottom: 35px;
    }

    .carousel-heading {
        align-items: center;
        text-align: center;
    }

    .product-content {
        align-items: center;
        text-align: center;
    }

    .product-btn {
        padding-bottom: 20px !important;
        margin: 0;

    }

    .overlay {
        z-index: 99999;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #0ae2e2;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .footer-icon {
        display: flex;
        justify-content: center;
        padding-top: 16px;
    }

    #copy-right {
        text-align: center;

    }
}